.editbtn {
    margin-left: 117px;
    margin-top: -65px;
    background-color:skyblue !important;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    /* border: 1px solid skyblue; */

    
}

.logoimg{
    border-radius: 14rem;
    margin-top:  150px;
    margin-left: 50px;
    object-fit: cover;
    border:  4px solid white;
    background-color : white;
}

